# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Virtual environment
venv/
env/
ENV/
.venv/
.Python

# Django/Migrations
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
*.bak
*.swp

# Environment files
.env
.env.*  # like .env.dev, .env.local etc.

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini
$RECYCLE.BIN/

# MySQL dump files
*.sql

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# Swagger cache (optional)
*.swagger.json
*.swagger.yaml

# pip
pip-log.txt
pip-delete-this-directory.txt

# Build artifacts
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg

# Backup files
*.~*
*.tmp
*.bak
*.orig
*.old
